* {
  text-align: center;
}

h1 {
  color: blue;
  height: 40px;
  width: 100px;
  background-color: antiquewhite;
  margin-left: 100px;
  border-radius: 15px;
}

#all {
  height: 250px;
  width: 300px;
  background-color: aquamarine;
  border-radius: 40px;
  padding-top: 20px;
  border: 2px solid rgb(38, 77, 148);
  margin: 10% 33%;
}

#username {
  text-align: left;
  border-radius: 7px;
  border: 2px solid white;
}

#pass {
  text-align: left;
  border-radius: 7px;
  border: 2px solid white;
}

#login {
  color: antiquewhite;
  font-weight: 600;
  background-color: #1877f2;
  border-radius: 10px;
  padding: 5px 20px;
  border: 2px solid black;
}

#login:hover {
  background-color: rgb(44, 224, 44);
  color: red;
}

input[type="text"] {
  color: rgb(52, 209, 52);
}

input[type="password"] {
  color: rgb(212, 34, 34);
}

#tc:checked + label {
  font-weight: 600;
}

.username {
  font-weight: 600;
}

.pass {
  font-weight: 600;
}
