
.face {
  height: 400px;
  width: 400px;
  background-color: rgb(219, 188, 85);
  border-radius: 50%;
  margin-left: 33.33%;
}

.mouth {
  height: 75px;
  width: 220px;
  background-color: rgb(202, 41, 41);
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  position: absolute;
  top: 250px;
  left: 100px;
  margin-left: 33.33%;
}

#left,
#right {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: black;
  display: inline-block;
  position: absolute;
  top: 100px;
  left: 100px;
  margin-left: 33.33%;
}

#right {
  left: 250px;
}
